*{
	box-sizing: border-box;
}

body
{
	background-color: #F7F7F2; 
	font-family: 'Open Sans', sans-serif;
	color: #202020;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

h1
{
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 1px 1px #808080;
	margin-bottom: 20px;
}

nav
{
	margin-left: auto;
	margin-right: auto;
	width: 100%; 
	max-width: 600px;
	min-height: 40px;
	font-size: 14px;
	color: #363436;
	
	display: flex;
}

a
{
	text-decoration: none;
	color: #363436;
}

.icon-home
{
	font-size: 30px;
}

.icon-cogs
{
	font-size: 30px;
}

.icon-logout
{
	font-size: 30px;
}

ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	
	text-shadow: 0.5px 0.5px #808080;

	display: flex;
	flex-basis: 500px;
	justify-content: space-evenly;
	align-items: center;
}

ul > li
{
	display: inline;
	flex-basis: 35%;
	text-align: center;
	border-left: 1px dashed #808080;
}

ul > li:first-child
{
	border-left: none;
}

a:hover
{
	opacity: 0.75;
}

.hamburger
{
	background-color: transparent;
	border: 0;
	cursor: pointer;
	font-size: 20px;
	display: none;
}

h2
{
	width: 100%;
	max-width: 600px;
	height: 80px;
	font-size: 30px;
	letter-spacing: 1px;
	background-color: #B0C4DE;
	color: #363436;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-top: 20px;
	border-left: 15px solid #A0B3CD;
}


form
{
	margin-left: auto;
	margin-right: auto;
	width: 100%; 
	max-width: 600px;
	height: 100%;
	min-height: 320px;
	background-color: #FCFCF9;
	
	display: flex;
	flex-wrap: wrap;
	
	-webkit-box-shadow: 4px 5px 20px -8px rgba(66, 68, 90, 1);
	-moz-box-shadow: 4px 5px 20px -8px rgba(66, 68, 90, 1);
	box-shadow: 4px 5px 20px -8px rgba(66, 68, 90, 1);
}

article .selections
{
	flex-basis: 100%;
	height: 120px;
	display: flex;
	align-content: start;
	flex-wrap: wrap;
}

article .data
{
	flex-basis: 40%;
	height: 50%;
	display: flex;
	align-items: center;
	padding-left: 25px;
}

article .selections-nth
{
	flex-basis: 60%;
	height: 50%;
	display: flex;
	align-items: center;
	padding-left: 25px;
}

article .comment
{
	flex-basis: 70%;
	height: 130px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

article .buttons
{
	flex-basis: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

input[type=text], input[type=number], 
input[type=date]
{
	width: 120px;
	height: 25px;
	margin-left: 5px;
	background-color: #FDFDFA;
	font-size: 15px;
	color: #202020;
	border: 0.7px solid #202020;
	border-radius: 5px;
	outline: none;
}

select
{
	width: 150px;
	height: 25px;
	margin-left: 5px;
	background-color: #FDFDFA;
	font-size: 15px;
	color: #202020;
	border: 0.7px solid #202020;
	border-radius: 5px;
	outline: none;
}

textarea[id=comment]
{
	width: 350px;
	height: 80px;
	resize: none;
}

input[type=submit]
{
	width: 160px;
	height: 28px;
	background-color: #66967A;
	font-size: 17px;
	color: #FCFCF9;
	text-shadow: 0.5px 0.5px #F7F7F2;
	border: 0.5px solid #66967A;
	border-radius: 5px;
	outline: none;
	margin-left: 5px;
	margin-right: 5px;
}

input[id=cancel]
{
	color: #595959;
	background-color: #F0EEE6;
	text-shadow: 0.5px 0.5px #808080;
	border: 0.5px solid #F0EEE6;
}

input[type=submit]:hover
{
	opacity: 0.80;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

footer
{
	width: 100%;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	color: #BAD1D1;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: 12px;
}

@media (max-width: 500px)
{
	h1
	{
		font-size: 40px;
	}
	
	.icon-home
	{
		font-size: 25px;
	}

	.icon-cogs
	{
		font-size: 25px;
	}

	.icon-logout
	{
		font-size: 25px;
	}
	
	ul > li
	{
		display: none;
	}
	
	.hamburger
	{
		font-size: 15px;
		display: block;
	}
	
	h2
	{
		font-size: 27px;
	}
	
	section:nth-of-type(1) .data
	{
		flex-basis: 40%
	}

	section:nth-of-type(1) .selections-nth
	{
		
		flex-basis: 50%;
		flex-wrap: wrap;
		align-content: center;
	}
	
	article .comment
	{
		font-size: 13px;
		align-content: center;
	}
	
	label
	{
		font-size: 14px;
	}
	
	input[type=text], input[type=number], 
	input[type=date]
	{
		width: 100px;
		height: 23px;
		margin-left: 5px;
		font-size: 13px;
	}
	
	select
	{
		width: 140px;
		height: 23px;
		font-size: 13px;
	}
	
	textarea[id=comment]
	{
		width: 250px;
		height: 60px;
	}
	
	input[type=submit]
	{
		width: 140px;
		height: 25px;
		font-size: 15px;
	}
}

@media (max-width: 350px)
{
	h1
	{
		font-size: 30px;
	}
	
	h2
	{
		font-size: 25px;
		height: 70px;
	}
	
	section:nth-of-type(1) .selections-nth
	{
		flex-wrap: wrap;
	}
	
	article .comment
	{
		font-size: 12px;
		align-content: center;
	}
	
	label
	{
		font-size: 12px;
	}
	
	input[type=text], input[type=number], 
	input[type=date]
	{
		width: 90px;
		height: 20px;
		margin-left: 5px;
		font-size: 11px;
	}
	
	select
	{
		width: 110px;
		height: 20px;
		font-size: 11px;
	}
	
	textarea[id=comment]
	{
		width: 230px;
		height: 50px;
	}
	
	input[type=submit]
	{
		width: 100px;
		height: 20px;
		font-size: 12px;
	}
}


