body
{
	background-color: #F7F7F2; 
	font-family: 'Open Sans', sans-serif;
	color: #202020;
	min-height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1
{
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 1px 1px #808080;
	margin-bottom: 40px;
}

nav 
{
	margin-left: auto;
	margin-right: auto;
	width: 100%; 
	max-width: 600px;
	height: 100%;
	min-height: 500px;
	color: #363436;
	display: flex;
	justify-content: center;
	gap: 3%;
}

nav .icon-th-list
{
	font-size: 100px;
}

nav .icon-cog-outline
{
	font-size: 40px;
}

nav .icon-logout
{
	font-size: 40px;
}

a
{
	text-decoration: none;
	color: #202020;
	display: block;
}


nav .balance
{
	background-color: #3F5F5F;
	font-size: 35px;
	
	flex-basis: 48.5%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	flex-wrap: wrap;
}

.row
{
	width: 100%;
}


nav .wrapper-others
{
	text-align: center;
	
	flex-basis: 48.5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3%;	
	flex-wrap: wrap;
}

nav .income
{
	width: 100%;
	height: 33%;
	
	background-color: #d2cacf;
	color: #202020;
	
	padding: 0 20px;
	
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

nav .expense
{
	width: 100%;
	height: 33%;
	
	background-color: #B0C4DE;
	color: #202020;
	
	padding: 0 20px;
	
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

span
{
	font-size: 60px;
	padding: 0 20px;
	border-right: 1px dashed;
}

nav .settings
{
	width: 48%;
	height: 28%;
	
	background-color: #778899;
	color: #202020;

	display: flex;
	align-items: center;
	justify-content: center;
}

nav .logout
{
	width: 48%;
	height: 28%;
	
	background-color: #8B4513;
	color: #202020;

	display: flex;
	align-items: center;
	justify-content: center;
}

a:hover
{
	opacity: 0.9;
	color: #FCFCF9;
}

footer
{
	width: 100%;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	color: #BAD1D1;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: 12px;
}

@media (max-width: 800px)
{
	h1
	{
		font-size: 40px;
	}
	
	nav
	{
		flex-wrap: wrap;
	}
	
	nav .balance
	{
		flex-basis: 100%;
		height: 180px;
		font-size: 30px;
	}
	
	nav .wrapper-others
	{
		flex-basis: 100%;
		height: 300px;
	}
	
	nav .income, nav .expense
	{
		flex: 1 40%;
		min-height: 58.5%;
		font-size: 20px;
	}
	
	span
	{
		font-size: 50px;
	}
	
	nav .settings, nav .logout
	{
		flex: 1 40%;
		min-height: 38.5%;
		font-size: 15px;
	}
}

@media (max-width: 550px)
{
	h1
	{
		font-size: 40px;
	}

	nav .balance
	{
		font-size: 30px;
		flex-wrap: nowrap;
		padding: 0 20px;
	}
	
	nav .icon-th-list
	{
		font-size: 80px;
	}
	
	nav .wrapper-others
	{
		flex-basis: 100%;
		height: 300px;
		align-content: flex-start;
	}
	
	nav .income, nav .expense
	{
		
		flex-basis: 30%;
		min-height: 48.5%;
		font-size: 15px;
		padding: 0 10px;
	}
	
	nav .settings, nav .logout
	{
		flex-basis: 30%;
		min-height: 38.5%;
		font-size: 15px;
	}
}

@media (max-width: 350px)
{
	h1
	{
		font-size: 30px;
	}
	
	nav .balance
	{
		font-size: 25px;
	}
	
	nav .icon-th-list
	{
		font-size: 55px;
	}
	
	nav .wrapper-others
	{
		flex-basis: 100%;
		height: 300px;
		align-content: flex-start;
	}

	span
	{
		font-size: 40px;
	}
	
	nav .income, nav .expense
	{
		font-size: 12px;
		padding: 0 0px;
	}
}


